


.heading-secondary{
  font-size: 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgba($color-desert-dark,0.7),
    rgba($color-desert-light,0.9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    transition: all 0.3s;

    &:hover{
      transform:scale(1.04);
      opacity:1 ;
      @include respond(tab-port){
    
        transform:scale(1);
      }
    }

    @include respond(tab-port){
    
      font-size: 3rem;
    }
    @include respond(phone){
      font-size: 2rem;
    }
}


.heading-tertiary{
  font-size: $font-size-default;
  font-weight: 700;
  text-transform: uppercase;

  
}

.paragraph{
  font-size: $font-size-default;
  font-weight: 400;
}

