@import '../../sass/abstracts/variables';

// @import '../../sass/base/animations.scss';
// @import '../../sass/base/utilities.scss';
// @import '../../sass/components/button.scss';




.header{
  background-image: linear-gradient(
    to right bottom ,
    rgba($color-black,0.8),
    rgba($color-desert-light,.4)) ,
    url('../../images/car-on-sand.jpg');


  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:90vh;
  position: relative;

  &__text-box{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 75%;
    text-align:center;
  }
}



.heading-primary{
  color:$color-white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing:1.3rem;

  &--main{
    font-size: 5rem;
    display:block;
    animation: moveToRight 1s ease-in-out;
  }

  &--sub{
    font-size: $font-size-default;
    display:block;
    animation: moveToLeft 1s ease-in-out;
  }
  
}