@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixins';


.section-tour-info{

  padding:12rem 0;
  background-image: linear-gradient(
    to  bottom ,
    rgba($color-black,0.9),
    rgba($color-desert-dark,.3)) ,
    url('../../images/give-me-hand.jpg');


  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  @include respond(tab-port){
     padding:9rem 0;
     background-position: top;
  }
}



.tour-options{
  
  
  background-color: rgba($color-white,0.6);
  font-size:1.5rem;
  padding:4rem 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba($color-black,0.15);
  transition:all .3s;
  height:auto;
    @include respond(tab-port){
    padding:3rem 1.6rem;
    box-shadow: 0 2rem 4rem rgba($color-black,0.45);

  }

  &__icon{
    font-size: 4rem;
    color:$color-desert-dark;
    margin-bottom:2rem;
    @include respond(tab-port){
    font-size: 3rem;
    margin-bottom:1.7rem;
  


  }
  }

  &__ulList{

    & li{
      list-style:none;
      white-space:nowrap;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      &:not(:last-child){
        margin-bottom:1.1rem;
      }
    }
  }

  &:hover{
    transform:translateY(-1.5rem) scale(1.03);

    @include respond(tab-port){
    transform:translateY(0) scale(1);

    }
    
  }
}

